<?xml version="1.0"?>
<config>
    <modules>
        <VES_AdvancedPdfProcessor>
            <version>0.1.0.4</version>
        </VES_AdvancedPdfProcessor>
    </modules>
    <admin>
        <routers>
			<advancedpdfprocessor>
				<use>admin</use>
				<args>
					<module>VES_AdvancedPdfProcessor</module>
					<frontName>advancedpdfprocessor</frontName>
				</args>
			</advancedpdfprocessor>
        </routers>
    </admin>
    <adminhtml>
        <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<pdfpro>
							<children>
								<advancedpdfprocessor module="advancedpdfprocessor">
									<title>Purchased Templates</title>
									<sort_order>23</sort_order>
								</advancedpdfprocessor>
							</children>
						</pdfpro>
					</children>
				</admin>
			</resources>
		</acl>
        <layout>
			<updates>
				<advancedpdfprocessor>
					<file>ves_advancedpdfprocessor.xml</file>
				</advancedpdfprocessor>
			</updates>
		</layout>
        <menu>
			<pdfpro>            
				<children>
					<api_key module="advancedpdfprocessor">
						<title>Manage PDF Templates</title>
					</api_key>
					<advancedpdfprocessor module="advancedpdfprocessor">
						<title>Purchased Templates</title>
						<sort_order>23</sort_order>
						<action>advancedpdfprocessor/adminhtml_template</action>
					</advancedpdfprocessor>
				</children>
			</pdfpro>
		</menu>
		<events>
			<ves_pdfpro_config_version>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>ves_pdfpro_config_version</method>
	                </advancedpdfprocessor>
	            </observers>
			</ves_pdfpro_config_version>
			<ves_pdfpro_grid_prepare_columns_after>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>ves_pdfpro_grid_prepare_columns_after</method>
	                </advancedpdfprocessor>
	            </observers>
			</ves_pdfpro_grid_prepare_columns_after>
			<ves_pdfpro_apikey_tabs_after>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>ves_pdfpro_apikey_tabs_after</method>
	                </advancedpdfprocessor>
	            </observers>
			</ves_pdfpro_apikey_tabs_after>
			<core_block_abstract_prepare_layout_before>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>core_block_abstract_prepare_layout_before</method>
	                </advancedpdfprocessor>
	            </observers>
			</core_block_abstract_prepare_layout_before>
			<ves_pdfpro_apikey_form_save_before>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>ves_pdfpro_apikey_form_save_before</method>
	                </advancedpdfprocessor>
	            </observers>
			</ves_pdfpro_apikey_form_save_before>
			<ves_pdfpro_apikey_form_prepare_after>
				<observers>
	                <advancedpdfprocessor>
	                    <class>advancedpdfprocessor/observer</class>
	                    <method>ves_pdfpro_apikey_form_prepare_after</method>
	                </advancedpdfprocessor>
	            </observers>
			</ves_pdfpro_apikey_form_prepare_after>
			<core_block_abstract_to_html_after>
                <observers>
                    <advancedpdfprocessor>
                        <type>singleton</type>
                        <class>advancedpdfprocessor/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </advancedpdfprocessor>
                </observers>
            </core_block_abstract_to_html_after>
            <ves_pdfpro_data_prepare_after>
            	<observers>
            		<advancedpdfprocessor>
            			<type>singleton</type>
            			<class>advancedpdfprocessor/observer</class>
                        <method>ves_pdfpro_data_prepare_after</method>
            		</advancedpdfprocessor>
            	</observers>
            </ves_pdfpro_data_prepare_after>
            <cms_wysiwyg_config_prepare>
            	<observers>
            		<advancedpdfprocessor>
            			<type>singleton</type>
            			<class>advancedpdfprocessor/observer</class>
            			<method>cms_wysiwyg_config_prepare</method>
            		</advancedpdfprocessor>
            	</observers>
            </cms_wysiwyg_config_prepare>
		</events>
	</adminhtml>
    <global>
    	<easypdf_processors>
    		<advanced>
    			<title>Advanced Processor</title>
    			<model>advancedpdfprocessor/processor</model>
    		</advanced>
    	</easypdf_processors>
		<blocks>
            <advancedpdfprocessor>
                <class>VES_AdvancedPdfProcessor_Block</class>
            </advancedpdfprocessor>
		</blocks>
        <models>
            <advancedpdfprocessor>
                <class>VES_AdvancedPdfProcessor_Model</class>
                <resourceModel>advancedpdfprocessor_mysql4</resourceModel>
            </advancedpdfprocessor>
            <advancedpdfprocessor_mysql4>
                <class>VES_AdvancedPdfProcessor_Model_Mysql4</class>
                <entities>
                    <template>
                        <table>ves_advancedpdfprocessor_template</table>
                    </template>
                    <variable>
                        <table>ves_advancedpdfprocessor_variable</table>
                    </variable>
                    <category>
                        <table>ves_advancedpdfprocessor_variable_category</table>
                    </category>
                </entities>
            </advancedpdfprocessor_mysql4>
        </models>
        <resources>
            <advancedpdfprocessor_setup>
                <setup>
                    <module>VES_AdvancedPdfProcessor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedpdfprocessor_setup>
            <advancedpdfprocessor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedpdfprocessor_write>
            <advancedpdfprocessor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedpdfprocessor_read>
        </resources>
        <helpers>
            <advancedpdfprocessor>
                <class>VES_AdvancedPdfProcessor_Helper</class>
            </advancedpdfprocessor>
        </helpers>
    </global>
    <default>
    	<pdfpro>
			<config>
				<processor>advancedpdfprocessor/processor</processor>
			</config>
			<advanced>
				<orientation>portrait</orientation>
				<minify>1</minify>
				<page_size>a4</page_size>
			</advanced>
			<barcode>
				<symbology>BCGcode39</symbology>
				<thickness>38</thickness>
				<rotation>0</rotation>
				<font_family>Arial.ttf</font_family>
				<font_size>8</font_size>
				<dpi>96</dpi>
				<scale>1</scale>
				<checksum></checksum>
			</barcode>
			<qrcode>
				<level>L</level>
				<size>4</size>
			</qrcode>
		</pdfpro>
    </default>
</config>